<ul class="EW-sprite attributes-block">
    <h3 class="title type-header-small">About</h3>
    <li class="gender">Female</li>
    <li class="joined list-inline-items">
        <span>Joined:</span>
        <time pubdate datetime="" title="">
            <span class="date lt-inline">30 April 2015</span>
        </time>
    </li>
    <li class="locale">
        <span>Lives In:</span> New York <br />
        <span>Country:</span> United States
    </li>
    <li class="occupation">
        <h5 class="title">Pricewaterhouse Coopers</h5>
        <h5 class="description">Private Sector</h5>
    </li>
    <li class="expertise hide">
        @string.Join(", ", topics)
    </li>
</ul>
<div class="hide">@Html.Partial("~/Views/Renderings/EmpowerWomen/Modules/ContentModules/SocialComponents/Gamification/BadgeBlock.cshtml", UserHelper.GetBadges(Model.Id, Model.CreatedDate, Model.IsActiveBadge))</div>
