.avatar {
  &.icon {
    &-assessment {
      svg {
        fill: $primary-color;
        height: 100%;
        width: 75%;
        stroke-width: 0px;
      }
    }
    &-certificate {
      svg {
        fill: $primary-color;
        height: 100%;
        margin-top: -2px;
        width: 80%;
      }
    }
  }
}
