
// Classess
$module: '.list';

#{$module} {
  &-inline-items {
    display: inline-block;
    margin:0;

    > li {
      display: inline-block;

      &:after {
      	content: "|";
      	display: inline-block;
      	padding: 0 6px;
      }

      &.no-accent {
        &:after {
          content: "";
        }
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }

  &-reset {
      margin-left: 0px;
  }

  &-pipe {
    margin: 1em 0;
    display: inline-block;
    > li {
      display: inline-block;
      &:after {
        content: "|";
        display: inline-block;
        padding: 0 0.5em;
      }
      &:last-child {
        &:after {
          content: "";
          display: none;
        }
      }
    }
  }
}
