.modal {
  // @include grid-column();

  .heading {
    @include flex-grid-row();
    // @include grid-column();
  }


}

.register-column {
    @include flex-grid-column(6, 15);
    align-self: flex-start;

    &:last-child {
      border-left: solid $medium-gray 1px;
    }

    &.forgot-password:last-child {
        border-left: none;
    }

    @include breakpoint(medium down) {
      @include flex-grid-column(12);
      &:last-child {
        border-left: none !important;
        margin-top: 0;
        padding-top: 3em;
      }
    }
  }

#term.checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 0;
  top: 6px;
}

.social-wrap {
  margin-top: 1rem;

    @include breakpoint(small only) {
        margin-left: auto;
        margin-right: auto;
    }
}

button {
  &.social {
    margin: 1rem;
    min-width: 250px;

    @include breakpoint(medium) {
      margin: 0 0 2rem;
    }

    &.facebook {
      background-color: rgba(59,89,152,1);

      &:hover {background-color: rgba(59,89,152, .75);}
    }

    &.twitter {
      background-color: rgba(85,172,238, 1);

      &:hover {background-color: rgba(85,172,238, .75);}
    }
  }
}

.verify-container {
    padding: 8rem 0;

    .type-subtitle-large {
        font-weight: 600;
        margin: 1rem 0 2rem;
    }
}

.login-form {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
  }
}

/* RTL STYLING CORRECTIONS (ARABIC) */
html[dir="rtl"] {
    .register-column:last-child{
        border-right: solid #C6CFD3 1px;
        border-left: none;
    }
}
