<div class="card card-group" card-type="{{type}}">
    {{#compare type "card-simple" operator="=="}}
      {{#each data}}
        {{> postCard-simple data=(lookup ../learningPaths this)}}
      {{/each}}
    {{/compare}}
</div>
