<article class="card member">
  <div class="img-round is-large user-profile-image" data-imagizer>
      <img src="{{root}}assets/img/profile/HibaAsif-ProfilePicture.png"/>
  </div>
  {{#compare cardType "member-profile-edit" operator="=="}}
    <div class="profile-image-container">
        <input type="file" id="profileImageUpload" class="attachment-upload" data-fileId="" name="fileImage" />
        <label class="type-smaller profile-image-label" for="profileImageUpload">
          <div class="file-input-browse" data-savemessage="@TranslatedText.GetCommonTextItem(CommonEWTextNames.SaveChangesPhoto)">
            Change Photo
          </div>
           <div class="file-input-msg">
              Choose a File
          </div>
        </label>
        <input type="hidden" id="MediaID" name="MediaID" />
    </div>
  {{/compare}}
  {{> memberCard-header cardType=cardType}}

  {{#compare cardType "member-profile" operator="=="}}
    {{>profileLinks}}
  {{/compare}}
</article>
<input type="hidden" id="hdUploading" value="@TranslatedText.GetCommonTextItem(CommonEWTextNames.Uploading)" />
<input type="hidden" id="hdFileIncorrectType" value="@TranslatedText.GetCommonTextItem(CommonEWTextNames.TypeIsIncorrect)" />
<input type="hidden" id="hdFileUploaded" value="@TranslatedText.GetCommonTextItem(CommonEWTextNames.FileUploaded)" />
<input type="hidden" id="hdFileUploadFailed" value="@TranslatedText.GetCommonTextItem(CommonEWTextNames.FileUploadFailed)" />
