<div class="tab-group">
    <ul id="profile-group" class="tab-header tabs" data-tabs>
      {{> tab-headings data=profile.tabHeadings}}
    </ul>
    <div class="tab-container tabs-content" data-tabs-content="profile-group">
        {{> tab-content data=profile.tabContent}}
    </div>
</div>
