<nav class="navigation">
  <ul class="navigation-menu" role="menubar" aria-hidden="false">
      <li class="navigation-logo" role="menuitem">
        <a class="logo" href="/" tabindex="0" title="EmpowerWomen Home">
            <div class="global-sprite" alt="logo"></div>
        </a>
        <a class="logo-vs" href="/" tabindex="1" title="Virtual Skill School Home">
          <h1>Virtual Skills School</h1>
        </a>
      </li>
      <ul class="list-pipe user-menu loggedOut">
        {{> demo-userNotLoggedIn}}
      </ul>
      <ul class="list-pipe user-menu loggedIn hide">
        {{> demo-userLoggedIn}}
      </ul>
  </ul>
</nav>
