<nav class="navigation">
  <ul class="navigation-menu" role="menubar" aria-hidden="false">
      <li class="navigation-logo" role="menuitem">
        <a class="logo" href="http://empowerwomen.org" target="_blank" tabindex="0" title="EmpowerWomen Home">
            <div class="global-sprite" alt="logo"></div>
        </a>
        <a class="logo-vs" href="/" tabindex="1" title="Virtual Skill School Home">
          <h1>The Virtual Skills School</h1>
        </a>
      </li>
  </ul>
</nav>
