.attributes-block {
        background-size: 0 !important;
        position: relative;
        margin-bottom: 1rem;

        .title {
            margin-bottom: 1rem;
        }

        li {
            background-image: inherit;
            background-size: 0 !important;
            margin: 0 0 1rem 4rem;
            min-height: 25px;
            font-size: 16px;
            font-weight: 600;
            color: $body-font-color;

            h5 {font-size: 16px; font-weight: 600;}
            span {font-weight: 100; color: $dark-gray;}

            &.gender:before {background-position: -361px -14px; width: 32px; margin-left: 4px;}
            &.email:before {background-position: -408px -14px; width: 46px;}
            &.joined:before {background-position: -468px -14px; width: 30px; margin-left: 5px;}
            &.locale:before {background-position: -512px -14px; width: 21px; margin-left: 9px;}
            &.occupation:before {background-position: -548px -14px; width: 34px; margin-left: 3px;}
            &.expertise:before {background-position: -598px -14px; width: 27px; margin-left: 6px;}

            &.occupation {
                h5 {
                    margin: 0;

                    &.description {
                        font-style: italic;
                    }
                }
            }
        }
        li:before {
            content: "";
            background-image: inherit;
            background-size: 724px;
            height: 30px;
            display: inline-block;
            vertical-align: middle;
            background-position: -40px 0;
            left: 0;
            position: absolute;
        }
    }

.gamification-block {
    background-size: 0 !important;

    .title {
        margin-bottom: 1rem;
    }

    li {
        background-image: inherit;
        background-size: 0 !important;
        width: 85px;
        text-align:center;
        display: inline-block;
        vertical-align: top;
        margin: 0 10px;

        @include breakpoint(medium down) {
            margin: 0 6px;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .badge {
            background-image: inherit;
            background-size: 724px;
            display: block;
            width: 65px;
            height: 65px;
            margin: 0 auto;
            background: transparent;

            &.is-active {
              background-position: -129px 0px;
            }

            &.is-new {
              background-position: -196px 0px;
            }

            &.is-champion {
              background-position: -263px 0px;
            }
        }

        p {
            margin-top: .75rem;
            line-height: 1;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

/* RTL STYLING CORRECTIONS (ARABIC) */
html[dir="rtl"] {
    .attributes-block {
        li{
            margin: 0 4rem 1rem 0;
            &:before{
                left:unset;
                right: 0;
            }
        }
    }
}
