<article class="content type-body-copy" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="row collapse lt-wrapper-thick">
        <div class="column small-12 lt-padding-collapse">
            <h3 class="type-header-small type-body-copy-gray">{{title}}</h3>
            {{description}}
        </div>
    </div>
</article>
