.form-container.quiz {
  border: 1px solid $light-gray;
  margin: 2rem 0;
  padding-bottom: 1.5rem;

  .title {
    position: absolute;
    margin-top: -1.4rem;
    margin-left: .5rem;
    width: auto;
    padding: 0 .5rem;
    background: $white;
  }

  .form {
    @include flex-grid-row();
    margin-top:1rem;
    .input-wrapper {
      @include flex-grid-column(12, 4rem);

      .input-label {
        margin-bottom: .5rem;
        display: block;
      }
      textarea {
        min-height: 120px;
        font-weight: 200;
      }
    }
  }
}
