<div class="row">
    <ul class="social-links">
          <a href="#" target="_blank"><li class="global-sprite facebook"></li></a>
          <a href="#" target="_blank"><li class="global-sprite twitter"></li></a>
          <a href="#" target="_blank"><li class="global-sprite linkedin"></li></a>
          <a href="#" target="_blank"><li class="global-sprite email"></li></a>
    </ul>
</div>
