$module: '.guided-navigation';
#{$module} {
  &.guided-feed {
    @include flex-grid-column(10);
    text-align: left;
    margin: 0;
    margin-bottom:2rem;

    .feed-item {
      height: 100px;
      position: relative;
      @include flex-grid-row();
      margin-bottom:1px;

      .title {
        @include flex-grid-column(12, 4rem);
        color: white;
        max-width: 26rem;
        font-weight: 600;
      }

      .featured-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        z-index: -1;
      }
    }
  }

}
