<div class="ft-col social lt-padding-collapse">
    <h5 class="text-left">Social</h5>
    <div class="row social global-sprite">
      {{#each site-settings.ew-social}}
        <a href="{{link}}" target="_blank" class="social badge {{title}}"></a>
      {{/each}}
    </div>
</div>
