<div class="ft-col-expand names lt-padding-collapse">
    <div class="footer-elements branding align-center">
        <div class="shrink ft-col ft-img-60 branding-one">
            <h5 class="text-left hide">{{site-settings.footer-branding.sponsor-1.title}}</h5>
            <a class="logo" href="http://empowerwomen.org" target="_blank" tabindex="0" title="EmpowerWomen Home">
                <div class="global-sprite" alt="logo"></div>
            </a>
        </div>
        <div class="shrink ft-col ft-img-60 branding-two hide">
            <h5 class="text-left">{{site-settings.footer-branding.sponsor-2.title}}</h5>
            <img class="float-left" src="{{root}}{{site-settings.footer-branding.sponsor-2.img}}" alt="Funded By Foreign Affairs Canada" width='150' height='80' />
        </div>
    </div>
</div>
