.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  left: 0;
  &-top {
    display:none;
    @include breakpoint(large) {
      @include flex-grid-row();
      @include flex-align(right);
    }
  }

  @include breakpoint(large) {
    position: relative;
  }

  @include breakpoint(medium down) {
      position: fixed;
      top: 0;
      display: none;
  }

  &-link {
    color: $dark-gray;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
    }
  }
}

.menu-language {
  font-size: map-get($font-sizes, "small");
}


.user {
    &-menu {
        font-size: map-get($font-sizes, "small");
        padding-left: 2.5rem;

        .is-dropdown-submenu-parent.is-down-arrow > a::after {
            top: 0.175rem;
        }
    }

    &-submenu {
        display:none;
        left:0px;
        top:100%;
        margin:0px !important;
        z-index: 100;

        .is-submenu-item {
            line-height: 2.5rem;
            text-align:left;

            a {
                padding-left:10px;
                line-height:1;
                color: $dark-gray;
                font-weight: 500;
            }

            &:hover {
                background: $primary-color;

                a {
                    color: white;
                }
            }
        }
    }
}

.user-menu{
    .header-link{
        .header-link-username{
            margin-left:0.5rem;
        }

        .header-link-notification{
            margin-left:0.5rem;
        }
    }
}
html[dir=ltr] {
     .header-link-username{
            float:left;
        }

        .header-link-notification{
            float:left;
        }
}
html[dir=rtl] {
    .header-link-username{
        float:right;
    }

    .header-link-notification{
        float:right;
    }
    .is-dropdown-submenu-parent.is-down-arrow a{
        padding-left: 0.9em;
        padding-right: 0px;
        &::after{
            left: 0px;
            right: 0px;
        }
    }
}
