.navigation {
  &-logo {
    @include flex-grid-column(null, 0);
    //@include flex-align-self(middle);
    display: flex;
    position: relative;
    width: auto;
    left: auto;
    margin-left: auto;

    @include breakpoint(medium down) {
      @include flex-grid-column(shrink);
      margin-right: auto;
    }

    a {
      width: auto;
      margin: initial;
    }
    .global-sprite {
      width: 166px;
      height: 47px;
      background-position: 4px -265px;
      background-size: 164px;
      margin: 6px 0;

      @include breakpoint(medium down) {
        //width: 46px;
      }
    }

    a {
      display: inline-block;
    }

    .logo {
      &-vs {
        h1 {
          color: $white;
          font-size: 1.4rem;
          display: inline-block;
          margin: 13px 0px 0 16px;

        }
      }
    }
  }
}

.footer {
  .logo {
    .global-sprite {
      width: 255px;
      height: 38px;
      background-position: 0px 0px;
      background-size: 255px;
      margin: 11px 0;
    }
  }
}
