@mixin ew-navigation-desktop{

  position: relative;


  &-menu {
      @include flex-grid-column-align(middle);
  }

  .menu {
    &-item {
      display: flex;
      @include flex-grid-column(shrink, 0);
      @include flex-grid-column-align(middle);
      border-right: 1px solid map-get($foundation-palette, primary);
      padding-left: 0;
      padding-right: 0;
    }

    &-link {
      color: $white;
      text-decoration: none;
      font-weight: 400;
      padding: 0 1rem;
      display: block;
      line-height: 84px;
      height: 84px;
      border-radius: 0;

      &.hover, &:hover, &:focus, &.active {
        background-color: $white;
        color: map-get($foundation-palette, primary);
      }

      &.has-submenu {
        padding-right: 2.3rem;
        position: relative;
        @include background-arrow('down', $white, '1');
        background-position: right 0.8rem center;

        &.hover, &:hover, &:focus, &.active {
          @include background-arrow('down', map-get($foundation-palette, primary), '1');
        }
      }
    }
  }

  #search {
    #SearchMenuButton {
      &:hover, &:focus {
        .sprite-search-icon {
          background-position: -277px -2px;
        }
      }
      &.hover:hover, &.hover:focus {
        .sprite-search-icon {
          position: relative;
          background-image: none !important;
          &:after, &:before {
            content: ' ';
            position: relative;
            width: 100%;
            height: 2px;
            top: 50%;
            background-color: map-get($foundation-palette, primary);
            display: block;
            transform: rotate(45deg);
          }

          &:after {
            transform: rotate(-45deg);
            margin-top: -2px;
          }
        }
      }
    }
  }
  &-logo {
    position: relative;
    width: auto;
    left: auto;
    margin-left: auto;

    a {
      width: auto;
      margin: initial;
    }
    .global-sprite {
      width: 324px;
      height: 49px;
      background-position: 0px -55px;
      background-size: 100%;
      margin: 8px 0;
    }
  }


  .menu-submenu {
    @include flex-grid-row();
    padding: 0;
    list-style-type: none;
    line-height: normal;

    &-wrapper {
      margin-top: 84px;
    }

    &-item {
      @include flex-grid-column(null, 15px);
      @include flex-grid-column-align(top);
      display: flex;
      text-align: center;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        .submenu-item-header {
          border-bottom-color: map-get($foundation-palette, secondary);
        }
      }
    }

    .submenu-item {
      &-icon {
        margin:0 auto 1rem;
      }

      &-header {
        display: inline-block;
        width: auto;
        border-bottom: 5px solid transparent;
      }

      &-desc {
        color: $body-font-color;
        font-weight: normal;
        font-size: map-get($font-sizes, "base");
        max-width: 196px;
        margin:0 auto;
      }
    }

    &-link {
      margin:20px auto;

    }
  }


  /* ZERO NAV DROPDOWN FOR USER PROFILE ITEMS */
  .header-top {
    .dropdown.menu {
    .is-dropdown-submenu-parent {
    	position: inherit;

    &.is-down-arrow > a::after {
        border-color: $white transparent transparent;
        top: 15px;
    }

    }

    .submenu.first-sub {
    top: inherit;
    margin-top: 1.4rem;
    }
}

.menu.submenu.vertical {
    // display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    color: purple;
    background: white;
    margin-top: 1.285rem;
    z-index: 1;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 15px 0;
    margin: 1rem 0 -1rem;
    border-top: none;

    h4.type-sub-title {

    }

    .excerpt {
        line-height: 1.2;
        max-width: 196px;
        margin:0 auto;
    }

    &.js-dropdown-active {
    display: table
    }

    .submenu-wrapper {
        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    li.is-submenu-item {
    display: inline-block;
    vertical-align: top;
    margin:0 auto;


    h4 {
        display: inline-block;
        width:auto;
        padding-bottom: 5px;
    }

    a {
        padding-top: 20px;
        padding-bottom: 20px;
        display: block;
        padding-right: 0;
    }

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        h4 {
            border-bottom: 5px solid $secondary-color;
            padding-bottom: 0px;
        }
    }
    }
}
}
}
