<div class="title-rendering">
  <div class="share-bar">
    <div class="share-badges lt-border-bottom-collapse">
      <li class="social badge facebook">
        <a href="#"></a>
      </li>
      <li class="social badge twitter">
        <a href="#"></a>
      </li>
      <li class="social badge email">
        <a href="#"></a>
      </li>
    </div>
  </div>
</div>
