<div class="feed feed-group" feed-type="{{type}}" {{#compare type "feed-completion" operator="=="}}data-accordion-group{{/compare}}>
    {{#compare type "feed-categories" operator="=="}}
      {{#each data}}
        {{> postFeed-categories data=(lookup ../learningPaths this)}}
      {{/each}}
    {{/compare}}
    {{#compare type "feed-completion" operator="=="}}
      {{#each data}}
        {{> postFeed-completion data=this}}
      {{/each}}
      {{#each ../final}}
        {{> postFeed-completion-additions data=this}}
      {{/each}}
    {{/compare}}
</div>
