{{#each (lookup . 'data')}}
  <a href="{{link}}">
    <li class="feed-item align-middle {{cssClass}}">
      <h4 class="type-subtitle-xlarge title">{{title}}</h4>
      <div class="featured-img" data-imagizer>
        <img src="{{img}}"/>
      </div>
    </li>
  </a>
{{/each}}
