<!-- <div class='input-wrapper search'>
    <label class="text-left">
        <input type='text'
               name="search"
               class="input"
               value=""
               placeholder="Search my course"/>
    </label>
</div> -->

<div class="courselist">
  <div class="title">
  	Financial Literacy
  </div>
  <ul>
    <li>
      	<a href="{{root}}/learningPaths/FinancialLiteracy.html"><span>Introduction to Financial Literacy</span></a>
      	<div class="action-button">
	        <!-- <a class="button primary" href="#">NOT PASSED</a> -->
	        <a class="button primary green" href="#">Enrolled</a>
      	</div>
    </li>
    <li>
      	<a href="{{root}}/learningPaths/FinancialLiteracy.html"><span>Gender IQ</span></a>
      	<div class="action-button">
	        <!-- <a class="button primary" href="#">NOT PASSED</a> -->
	        <a class="button primary green" href="#">Enrolled</a>
      	</div>
    </li>
  </ul>
</div>
