<div class="banner">
  <div class="banner-image" data-imagizer>
      <img src="assets/img/homepage/herobanner.png" />
  </div>
  <div class="banner-container has-copy text-@Model.CssClass">
    <div class="banner-content">
      <h3 class="type-header-large banner-header">The Virtual Skills School</h3>
      <h4 class="type-subtitle-large banner-header">UN Women’s interactive learning platform with skills development pathways to empower you. Leaving no women or girl behind.</h4>
      <a class="button primary hide" href="CTA">CTA</a>
    </div>
  </div>
</div>
