  {{#each (lookup . 'data')}}
  <li class="section">
    <div class="avatar row align-middle" data-imagizer>
      {{> (lookup . 'icon')}}
    </div>
    <ul class="subitems">
      {{#each subitems}}
        <li class="subitem">
          <h4 class="sub-title">{{title}}</h4>
          <h5 class="sub-description">{{description}}</h5>
        </li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
