// Classess
$module: '.feed';

#{$module} {
  &-group {
    @include flex-grid-row();
    text-align: left;
    width: 100%;

    &[feed-type="feed-categories"] {
      .feed-column {

        .feed-title {
          .title {
            @include type('subtitle', 'medium');
            padding: .5rem 1rem;
            text-align: left;
            border: 1px solid $light-gray;
            font: {
              weight: 400;
            }
          }
        }

        .feed-content {
          padding: 0 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem;

          .description {
            &-heading {
              @include type('subtitle', 'xsmall');
            }

            @include type('subtitle', 'xxsmall');
            font: {
              weight: 400;
            }
          }

          .featured-img {
            @include flex-grid-column(shrink);
            width: 260px;
          }

          .content {
            @include flex-grid-column(6);
          }

          .list {
            &-heading {
              @include type('subtitle', 'xsmall');
            }

            &-items {
              @include flex-grid-column(6);


              .listing {
                margin: 0;
                columns: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;

                &>li {
                  @include type('subtitle', 'xxsmall');
                  font: {
                    weight: 400;
                  }
                  list-style: disc;
                  list-style-type: disc;
                  margin-left: 1rem;
                }
              }
              .link-back {
                display: block;
                float: right;
                font: {
                  size: 0.875rem;
                  weight: 400;
                }
              }
            }
          }
        }
      }
    }

    &[feed-type="feed-completion"] {
      .feed-column {
        @include flex-grid-column(12);

        .feed {
          &-status {
            @include flex-grid-column(shrink);
            @include flex-align-self(stretch);
            margin-right: 1rem;

            .avatar {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              border: 1px solid $secondary-color;
              background: white;
              top: 50%;
              margin-top: -25px;
              position: relative;
              z-index: 1;
              transition: .25s;
              cursor: pointer;
              font-size: 1.95rem;
              text-align: center;

              &.avatar-small {
                height: 30px;
                width: 30px;
                margin-top: -15px;
              }
            }

            .vertical-line {
              width: 2px;
              height: 100%;
              background-color: $secondary-color;
              display: block;
              margin: 0 auto;
              position: relative;
              transition: .25s;
            }

            &.top-aligned {
              .avatar {
                top: 40px;
              }

              .vertical-line {
                top: 40px !important;
                height: 100% !important;
              }
            }
          }
          &-content {
            @include flex-grid-column();
            border: 1px solid $light-gray;
            padding-top: 1rem;
            padding-bottom: 1rem;

            .content-container>.feed-title {
              color: $black;
              &:hover {
                color: $secondary-color !important;
              }
            }

            .content-container {
              @include flex-grid-column();
              background: none;

              &.accordion-title {
                &:before {
                  display: none;
                }
              }
            }

            .feed-title {
              @include flex-grid-column();
              position: relative;

              &.has-accordion {
                &:after {
                  content: '';
                  @include background-arrow('down', $secondary-color, '1px');
                  background-size: cover;
                  background-repeat: no-repeat;
                  width: 15px;
                  height: 8px;
                  margin-top: 14px;
                  position: absolute;
                  right: 2.5rem;
                }
              }

              .title {
                font-size: 1.4rem;
                width: auto;
                min-width: 50%;
                display: inline-block;


                strong {
                  color: $dark-gray;
                }

                &:hover {
                  color: $primary-color;
                  cursor: pointer;
                }
              }
            }

            &>.row.is-active {
              .feed-title {

                &.has-accordion {
                  &:after {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            .feed-specs {
              @include flex-grid-column(shrink);
              @include flex-align-self(middle);

              .specs {
                font-size: 2rem;
              }
            }

            .tab-content {
              @include flex-grid-column(12);
              border: none;
              padding-bottom: 0;
              margin: 0;
              display: none;
            }

            .sub-feed {
              @include flex-grid-row();
              border-top: 1px solid $light-gray;
              padding: 10px 0;
              background: #fbfbfb;

              &:last-child {
                border-bottom: 1px solid $light-gray;
              }

              .title {
                font-size: 1.4rem;
                font-weight: 600;
                margin-left: 1rem;
                width: 100%;
              }

              &.completed {
                .avatar {
                  border: none;
                  background-color: $success-color;

                  &:after {
                    opacity: 1;
                    content: "\2713";
                    position: absolute;
                    top: 4px;
                    left: 7px;
                    font-size: 26px;
                    line-height: 20px;
                    color: #fff;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

        &.completed {
          &>.row>.feed-status {
            .avatar {
              background-color: $primary-color;
              border: none;
            }
          }
        }

        &:first-child {
          .feed-status {
            .vertical-line {
              height: 50%;
              top: 50%;
            }
          }
        }

        &:last-child {
          .feed-status {
            .vertical-line {
              height: 0 !important;
            }
          }
        }
      }
    }
  }
}
