// Classess
$module: '.feed';

#{$module} {
  &-group {
    @include flex-grid-row();
    text-align: left;

    &[feed-type="feed-categories"] {
      .feed-column {

        .feed-title {
          .title {
            @include type('subtitle', 'medium');
            padding: .5rem 1rem;
            text-align: left;
            border: 1px solid $light-gray;
            font: {
              weight: 400;
            }
          }
        }

        .feed-content {
          padding: 0 2rem;
          margin-top: 1rem;
          margin-bottom: 1rem;

          .description {
            &-heading {
              @include type('subtitle', 'xsmall');
            }

            @include type('subtitle', 'xxsmall');
            font: {
              weight: 400;
            }
          }

          .featured-img {
            @include flex-grid-column(shrink);
            width: 260px;
          }

          .content {
            @include flex-grid-column(6);
          }

          .list {
            &-heading {
              @include type('subtitle', 'xsmall');
            }

            &-items {
              @include flex-grid-column(6);


              .listing {
                margin: 0;
                columns: 2;
                -webkit-column-count: 2;
                -moz-column-count: 2;

                &>li {
                  @include type('subtitle', 'xxsmall');
                  font: {
                    weight: 400;
                  }
                  list-style: disc;
                  list-style-type: disc;
                  margin-left: 1rem;
                }
              }
              .link-back {
                display: block;
                float: right;
                font: {
                  size: 0.875rem;
                  weight: 400;
                }
              }
            }
          }
        }
      }
    }

    &[feed-type="feed-completion"] {
      .feed-column {
        @include flex-grid-column(12);
      }
    }
  }
}
