// Classess
$module: '.card';

#{$module} {
  &-group {
    @include flex-grid-row();

    &[card-type="card-simple"] {
      .card-column {
        @include flex-grid-column(4, 8rem);
        text-align: left;
        position: relative;

        &:first-child {
          left: -3rem;
        }

        &:last-child {
          right: -3rem;
        }

        .featured-img {
          margin-bottom: 1rem;
          height: 175px;
          width: 100%;
        }

        .title {
          @include type('header', 'small');
        }
        .description {
          &:after {
            display: block;
            content: "------";
            margin: 0.25rem 0;
          }
          margin: 0;
        }

        .listing {
          margin: 0;
          @include type('subtitle', 'xsmall');
          font: {
            weight: 400;
          }

          &>li {
            @include type('subtitle', 'xxsmall');
            list-style: disc;
            list-style-type: disc;
            margin-left: 1rem;
          }
        }

        .link-back {
          font-size: .875rem;
          margin-top: 0.5rem;
          display: block;
          font: {
            weight: 400;
          }
        }
      }
    }
  }
}
