#Quiz{
  padding-bottom: 3em;

  .lt-section-padding-large{
    padding-bottom: 1em;
  }

  .button{
    font-size: 1em;
    padding: 0.85em;
    magin: 0.5em;
    min-width: 8em;
  }

  #slickQuiz{
      width: 800px;
      margin: 0 auto;
      border: 2px solid #ccc;
      background: #fff;
      padding: 20px;
      min-height: 300px;

      .quizDescription{
      	min-height: 50px;
      }

      .questions{
      	text-align: left;

      	ul.answers {
      		li {
      			margin-top: 0.5em;
      			margin-bottom: 0.5em;
      		}

      	}

      	.responses{
      		    min-height: 50px;
      	}
      }
  }

}
