<div class="title-headingBlock headingBlock-img row small-collapse text-left align-top">
  <div class="columns shrink featured-img" data-imagizer>
    <img src="/assets/img/learningPaths/path_FinancialLiteracy.jpg"/>
  </div>
  <div class="columns expand">
    <h2 class='type-header-xlarge column'>Financial Literacy</h2>
    <h3 class='type-subtitle-xlarge description'>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</h3>
  </div>
</div>
