.reading-content {
  border-top: 1px solid $light-gray;

  .featured-img {
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }
  .content {
    font-size: 18px;
    margin: 1rem 0;
  }
}
