<ul class="list-reset recent-activity-list">
  <li class="lt-border-bottom feed-item"><a>Hiba Asif</a> liked the course <a>Saving and Investing for the future</a></li>
  <li class="lt-border-bottom feed-item"><a>Hiba Asif</a> unlocked the badge <a>Virtual School Master Graduate</a></li>
</ul>
